@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.first-heading {
    color: #323f4b;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500px;
}

.button {
    background-color: #0967d2;
    color: #ffffff;
    border-radius: 8px;
    border-width: 0px;
    height: 34px;
    width: 100px;
    font-weight: 500px;
    font-family: Roboto;
}

.first {
    padding: 14px;
}

.second {
    background-color: #0967d219;
    border-radius: 6px;
    margin: 12px;
}

.second-heading {
    color: #323f4b;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500px;
}

.second-para {
    color: #707070;
    font-size: 10px;
    font-family: Roboto;
}

.second-img {
    padding: 20px;
}

.second-content {
    padding: 16px;
}

.heading {
    color: #323f4b;
    font-family: Roboto;
    font-size: 16px;
    padding: 12px;
    font-weight: 500px;
}

.para {
    color: #ffffff;
    font-size: 12px;
    font-family: Roboto;
}

.order {
    background-color: #3ebd93;
    padding: 10px;
    height: 90px;
    margin: 14px;
    border-radius: 10px;
}

.order-1 {
    background-color: #e668a7;
    padding: 10px;
    height: 90px;
    margin: 14px;
    border-radius: 10px;
}

.order-2 {
    background-color: #a368fc;
    padding: 10px;
    margin: 14px;
    height: 90px;
    border-radius: 10px;
}

.last {
    background-color: #e12d3919;
    margin: 12px;
    border-radius: 6px;
    padding: 16px;
}

.last-button {
    background-color: #0967d2;
    color: #ffffff;
    border-radius: 8px;
    border-width: 0px;
    height: 38px;
    font-weight: 500px;
    font-family: Roboto;
}